.fundoLogin {
    background-image: url("https://ik.imagekit.io/dx8zsh14om/xadrez.foto.png?updatedAt=1754960785635");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}